<div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-10 col-lg-offset-3 col-lg-6">
        <form>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center; ">Login:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" placeholder="your login" name="login">
                </div>
            </div>
            <div class="row" style="height:11px"></div>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center;">E-mail:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" type="email" placeholder="your e-mail" name="email">
                </div>
            </div>
            <div class="row" style="height:11px"></div>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center;">Nick:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" placeholder="your nick" name="nickname">
                </div>
            </div>
            <div class="row" style="height:11px"></div>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center;">Password:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" type="password" placeholder="your password" name="password">
                </div>
            </div>
            <div class="row" style="height:11px"></div>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center;">Repeat password:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control" type="password" placeholder="repeat your password" name="password">
                </div>
            </div>
            <div class="row">
                <label class="center-block col-sm-3 col-md-3 col-lg-3"
                       style="text-align: center;">Your avatar:</label>
                <div class="col-sm-9 col-md-9 col-lg-9">
                    <input type="file" name="somename" size="chars" accept="image/*">
                </div>
            </div>
            <div class="row" style="height:11px"></div>
            <div class="row">
                <button type="submit" class="btn btn-default col-xs-offset-4 col-sm-offset-5 col-xs-4">Sign up
                </button>
            </div>

        </form>
    </div>
</div>